name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/devops-labs:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/devops-labs:${{ github.sha }}

deploy:
  needs: build-and-push
  runs-on: ubuntu-latest

  steps:
    - name: SSH into Server and Deploy
      uses: appleboy/ssh-action@v1.2.0
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          docker stop devops-labs || true
          docker rm devops-labs || true
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/devops-labs:latest
          docker run -d --name devops-labs -p 8080:80 ${{ secrets.DOCKERHUB_USERNAME }}/devops-labs:latest
